@import "tailwindcss";

@theme {
  --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --default-transition-duration: 0.2s;
}

@layer base {
  :root {
    --original-color: #B38DFF;
    --bg-color: #121214;
    --bg-accent: #080809;
  }

  body {
    background-color: var(--bg-color);
    color: #fff;
    font-family: var(--font-inter);
    letter-spacing: -0.02em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }

  #__luma {
    @apply relative w-full h-screen flex items-stretch gap-[2px] p-[6px];
  }

  @media (pointer: fine) and (hover: hover) {
    button {
      cursor: pointer;
    }
  }

  html {
    scroll-behavior: smooth;
  }

  ::selection {
    background: var(--original-color);
    color: rgba(255, 255, 255, 0.95);
  }
}

@layer utilities {
  /* Custom Scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}
